body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    max-width: 100%;
    font-size: 16px;
}

.table-container {
    overflow-x: auto; /* Para tablas anchas, habilita el scroll horizontal */
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#dataTable th, #dataTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#dataTable th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#dataTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed; /* Fixed to bottom */
    bottom: 0;
    width: 100%;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}